@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:ital,wght@0,400;1,700&display=swap");

@mixin font-lora {
  font-family: "Lora", serif;
}

@mixin font-roboto {
  font-family: "Roboto", sans-serif;
}
@mixin text-color {
  color: #ffdbb7;
}
@mixin title-size {
  font-size: calc(16px + (30 - 14) * ((100vw - 320px) / (1920 - 320)));
}

@mixin text-size {
  font-size: calc(12px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../img/bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.header {
  display: flex;
  justify-content: center;

  width: 100%;

  @include font-lora();
  font-weight: 700;
  @include text-color();
  &-top {
    margin-top: 30px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    &__title {
      line-height: 150%;
      @include title-size();
      display: block;
    }
    @media (max-width: 800px) {
      &__title {
        margin-bottom: 30px;
      }
    }

    img {
      width: 20%;
      animation-duration: 7s;
      animation-name: test;
      animation-iteration-count: infinite;
    }
    @keyframes test {
      0% {
        transform: translateX(0px) scale(1.01);
      }
      50% {
        transform: translateX(-30px) scale(1.11);
      }
      100% {
        transform: translateX(0px) scale(1.01);
      }
    }
    img:hover {
      cursor: pointer;
    }

    @media (max-width: 800px) {
      img {
        width: 25%;
        margin-bottom: 30px;
      }
    }
    @media (max-width: 500px) {
      img {
        width: 28%;
      }
    }
    &__phone {
      display: block;

      line-height: 150%;
      padding: 0 10px;

      text-decoration: none;
      font-weight: 700;
      @include title-size();
      @include text-color();

      &:hover {
        opacity: 0.9;
        color: rgb(250, 106, 106);

        border-right: 1px solid rgb(250, 106, 106);
        border-left: 1px solid rgb(250, 106, 106);
        transition: 0.3s ease;
      }
    }
  }
  @media (max-width: 800px) {
    &-top {
      flex-direction: column;
      align-items: center;
    }
  }
}

.content-outer {
  display: flex;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  height: 300px;
  @include text-color();
  @include font-roboto();

  font-weight: 400;
  text-align: center;
  .content-inner {
    .content__title {
      line-height: 150%;
      @include text-size();
    }
  }
}
.calc-button {
  display: block;
  margin-top: 20px;
  width: 100%;
  background-color: #263faf;
  border-radius: 30px;
  @include text-color();
  text-decoration: none;
  @include font-lora();
  font-weight: 700;
  @include text-size();
  line-height: 250%;
}

.calc-button:hover {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
  display: none;
}
.popup {
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
  display: flex;
  width: 500px;
  height: 100vh;

  background-color: #10375cd2;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  .calk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;

    color: #fdf8df;
    &__title {
      margin-top: 20px;
      @include title-size();
      font-weight: 400;
    }
    &__text {
      @include text-size();
      @include font-lora();
      margin: 10px 0;
    }

    #calk-cartype,
    #calk-city {
      margin: 0 auto;
      width: 75%;
      line-height: 30px;
      text-align: center;
      @include text-size();
      @include font-roboto();
      font-weight: 700;
    }

    &-service__text {
      @include title-size();
      @include font-lora();
      font-weight: 400;
      margin-top: 20px;
    }

    .calk-check-nigth {
      margin: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        @include text-size();
        font-weight: 400;
        margin-left: 20px;
      }
    }

    .calk-wheel {
      @include text-size();
      @include font-roboto();

      input {
        margin: 0 auto;
        width: 75%;
        line-height: 30px;
        text-align: center;
        @include text-size();
        @include font-roboto();
        font-weight: 700;
      }
    }
    #final_price {
      @include title-size();
      @include font-lora();
      margin: 5px;
    }
    .final_price {
      @include title-size();
      font-weight: bold;
      @include font-lora();
      margin-bottom: 20px;
      text-decoration: underline;
    }
  }
}
@media (max-width: 500px) {
  .popup {
    width: 90%;
  }
}

.close-popup {
  position: absolute;
  top: 3%;
  right: 50%;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.close-popup:before {
  content: "";
  background-color: rgb(209, 5, 5);
  position: absolute;
  height: 3px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
}

.close-popup:hover:before {
  background-color: rgb(218, 82, 82);
  transition: background-color 0.5s ease;
}

.close-popup:after {
  content: "";
  background-color: rgb(209, 5, 5);
  position: absolute;
  height: 3px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(45deg);
}
.close-popup:hover:after {
  background-color: rgb(218, 82, 82);
  transition: background-color 0.5s ease;
}

.js-popup-calc_button {
  display: flex;
  justify-content: center;
  button {
    width: 250px;
    line-height: 35px;

    background-color: rgba(83, 83, 83, 0.644);
    @include text-color();
    text-align: center;
    @include font-lora();
    font-weight: 700;
    font-size: 25px;
    border: 1px solid rgba(148, 148, 156, 0.644);
    border-radius: 5px;
  }
  @media (max-width: 500px) {
    button {
      font-size: 15px;
    }
  }
}

#result-1 {
  text-align: center;
  @include font-lora();
  font-weight: 700;
  font-size: 25px;
  line-height: 50px;
}
@media (max-width: 500px) {
  #result-1 {
    font-size: 15px;
  }
}

.bottom {
  width: 100%;

  img {
    width: 18%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  @media (max-width: 600px) {
    img {
      width: 27%;
    }
  }
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}
